* {
  margin: 0; padding: 0;
}

.content-wrapper {
  margin-top: 40px;
  z-index: 2;
  position: relative;
  color: white;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.social-metric-count {
  font-size: 26px;
  text-align: center;
}

.list-group-item {
  min-height: 60px;
}

.table-title{
  min-width: 450px;
}

.jumbotron-main {
  background: transparent;
}
.transactions{
  background: #1d4477;
  color: white;
  overflow: hidden;
}
.break-word{
  word-wrap: break-word;
}
hr {
   border-top: 1px solid #ddd;
}

//post view
.thumbnail {
  padding:0px;
}
.panel {
  position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}
//post view -end

.app{
  background-color: #1d4477;
  background: url(../static/img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url(../static/img/bg.jpg) center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}